@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Nanum+Pen+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#a69b7a;
    font-size: larger;
    margin-top: 20px;
   
}

.img_airforce{
    width: 100px;
    height: 100px;
    background-image: url(airforce_img.jpg);
    border-radius: 40%;
    background-position: left;
    background-size: cover;
    margin-top: 5%;
    
}

.wrap>.ddays{
    width:  400px;
    margin-left: 20px;
   
    display: flex;
}
.Title{
    font-family: 'Nanum Myeongjo';
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px inset black;
    
}
.ddays{
    font-family: 'Nanum Myeongjo', serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    
}
.ddays>p{
    height: 100;
    width: 250px;
    margin-top: 50px;
    background-color: rgb(88, 106, 132);
    border-radius: 4px;
    font-size: 22px;
    font-weight: bold;
                
}
.text_first{
    margin-bottom: 1px;
}
#enter{
    margin-top: 7px;
}
.ddays>p1{
    margin-top: 70%;
}
.pass{
    width: 600px;
    margin-top: 50px;
}
@media (min-width: 1200px) {
    .Title{
        font-size: 50px;
       
    }

    .ddays{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:start;
        
    }
    .ddays>p{
     
        border-radius: 4px;
        font-size: 30px;
        font-weight: bold;
                    
    }
    .text_first{
        margin-bottom: 1px;
    }
    #enter{
        margin-top: 7px;
    }
    #count{
        margin-top: 100px;
    }
    .ddays>p1{
        margin-top: 70%;
    }
    .img_airforce{
        width: 150px;
        height: 150px;
       margin-top: 10px;
    }
    .ddays>p{
        width: 600px;
    }
    .pass{
        width: 600px;
        margin-top: 50px;
    }
}